/* Text linked inside editor */
#innerdocbody .ace-line .link {
    background-color: none;
    
    text-decoration: underline;
    color: #1155cc !important;
    cursor: pointer;

  }
  #innerdocbody .ace-line .link[data-open="true"]{
    /* color: orange !important;
         */
    text-decoration: underline;
    color: #1155cc !important;
    cursor: pointer;
  }
  
  
  /* Link right side container */
  #links {
    /* width: 250px; */
    order: 3;
    /* position: absolute; */
  }
  #links:not(.active) {
    display: none;
  }
  @media (max-width: 900px) {
    #linkIcons, #links {
      display: none !important;
    }
  }
  
  .sidebar-link {
    position: absolute;
    min-width: 270px;
    visibility: hidden;
    z-index: 999000;
  }
  
  /* WITH ICONS */
  #links.with-icons {
    display: none;
  }
  
  /* NEW LINK FORM (included both in popup and reply) */
  .new-link .link-content {

    border: 1px solid gray;
    padding-left: 7px!important;
    padding-top: 24px!important;
    padding-bottom: 0!important;
    padding-right: 0!important;
    height: 51px;
    width: 100%;
    margin: 0 !important;
    background-color: white;
  }
  .new-link .link-content-disabled {

    border: 1px solid gray;
    padding-left: 7px!important;
    padding-top: 24px!important;
    padding-bottom: 0!important;
    padding-right: 0!important;
    height: 51px;
    width: 100%;
    margin: 0 !important;
    /* background-color: gray; */
  }
  .new-link .link-buttons{
    margin-top: 10px;
  }
  .link-buttons{
    display: inline-flex;
  }
  
  .link-reply .new-link:not(.editing) .form-more {
    display: none;
  }
  input.error, textarea.error {
    border-color: red;
  }
  .form-more{
    margin-top: 12px;
  }
  
  /* LINK GENERAL STYLE */
  .link-author-name {
    font-weight: bold;
  }
  .link-created-at {
    font-size: .8em;
    opacity: .7;
    margin-left: 5px;
  }
  .link-actions-wrapper {
    float: right;
    padding: 10px;
    padding-top:12px
  }
  #ep_hyperlink_img{
    width: 32px;
    float: left;
    margin-right: 13px;
    margin-top: 4px;
    display: none;

  }
  #ep_hyperlink_title{
    display: none;
    margin-top: 5px;
    color: #15c!important;
    font-weight: bold;
  }
  

        /* Card styles */ 
        .card{ 
          height: auto; 
          width: auto; 
          overflow: hidden; 
      } 
     
      /* Card image loading */ 
      .card__image img { 
          width: 32px; 
          height: 32px; 
          float: left;
      } 
        
      .card__image.loading { 
        width: 32px; 
        height: 32px; 
        float: left;

      } 
     
      /* Card title */ 
      .card__title { 
          font-size: 22px; 
          font-weight: 700; 
          float:right;
      } 
        
      .card__title.loading { 
          height: 0.5rem; 
          width: 79%; 
          float:right;
          margin-top: 2px;
      } 

      /* The loading Class */ 
      .loading { 
          position: relative; 
          background-color: #e2e2e2; 
      } 
     
      /* The moving element */ 
      .loading::after { 
          display: block; 
          content: ""; 
          position: absolute; 
          width: 100%; 
          height: 100%; 
          transform: translateX(-100%); 
          background: -webkit-gradient(linear, left top, 
                      right top, from(transparent),  
                      color-stop(rgba(255, 255, 255, 0.2)), 
                      to(transparent)); 
                        
          background: linear-gradient(90deg, transparent, 
                  rgba(255, 255, 255, 0.2), transparent); 
     
          /* Adding animation */ 
          animation: loading 0.8s infinite; 
      } 
     
      /* Loading Animation */ 
      @keyframes loading { 
          100% { 
              transform: translateX(100%); 
          } 
      } 
  
  /* LINK COMPACTED (Visible on right side) */
  .sidebar-link:not(.full-display) .full-display-link {
    display: block;
    /* min-width: 270px; */
  }
  .compact-display-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    background-color: #eeeeed;
  }
  
  /* LINK FULL (when mouse click) */
  .sidebar-link.full-display  {
    z-index: 999000;
  }
  .sidebar-link.hyperlink-display{
    display: block;
    z-index: 999000;
    visibility: visible;

  }
  .disable-link{
    pointer-events: none; cursor: default;
  }
  .sidebar-link.full-display .full-display-link {
    display: block;
    /* margin-top: -10px; */
  }
  .sidebar-link.full-display .compact-display-content {
    display: none;
  }
  .full-display-link {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px #ddd;
    z-index: 999000;
    width: 279px;
    padding: 12px;
  }
  .full-display-link .link-title-wrapper,
  .full-display-link .link-reply {
    /* padding: 10px;
    width: 78%; */
    /* float: left; */
  }
  .full-display-link .link-title-wrapper .link-text {
    /* display: block; */
    /* margin-top: 10px; */
    white-space: normal;
    font-weight: bold;
    width: 230px;
    height: 38px;
    padding: 3px;
    border :1px solid gray
}
.full-display-link .link-title-wrapper .link-text-hyperlink {
  /* display: block; */
  /* margin-top: 10px; */
  white-space: normal;
  width: 100%;
  height: 38px;
  /* padding: 3px; */
  border: 1px solid gray;
  border: 1px solid gray;
  padding-left: 7px!important;
  padding-top: 24px!important;
  padding-bottom: 0!important;
  padding-right: 0!important;
  height: 51px;
  /* width: 100%; */
  margin: 0!important;
}
.link-title-wrapper{
  margin-bottom: 15px;
  margin-top:15px
}
.link-title-wrapper-meta{
  margin-bottom: 33px
}
.full-display-link .link-title-wrapper .link-text-text {
  white-space: normal;
  width: 100%;
  height: 38px;
  /* padding: 3px; */
  border: 1px solid gray;
  border: 1px solid gray;
  padding-left: 7px!important;
  padding-top: 24px!important;
  padding-bottom: 0!important;
  padding-right: 0!important;
  height: 51px;
  /* width: 100%; */
  margin: 0!important;
  background-color: #f2f4f4;
}
input:-internal-autofill-selected {
  background-color: white;
}
  
.link-close{
  cursor: pointer;
}
.submit_LCM{
  float: right;
  margin-top: -38px;
  margin-right: -74px;
  height: 38px;
  padding: 5px 15px;
}
.hyperlink-form-lable-section{
  width:auto
}
.hyperlink-form-lable-section .hyperlink-form-lable{
  margin-left: 8px;
  margin-top: 4px;
  position: absolute;
  width: 30px;
  text-align: center;
  font-weight: 700;
  color: #0074fd;
}
.hyperlink-form-lable-section .hyperlink-form-lable-disabled{
  
  margin-left: 8px;
  margin-top: 4px;
  position: absolute;
  width: 30px;
  text-align: center;
  font-weight: 700;
  color : gray;
}
  .full-display-link .link-title-wrapper .link-text.default-text {
    display: none;
  }
  
  /* SUGGESTION */
  .suggestion, .reply-suggestion {
    display: none;
  }
  .suggestion-display {
    margin-top: 5px;
    white-space: normal;
  }
  .suggestion-display .from-label,
  .suggestion-display .to-label {
    margin-right: 2px;
  }
  .suggestion-display .from-value,
  .suggestion-display .to-value {
    opacity: .8;
    font-style: italic;
  }
  .suggestion-display .from-value:after, .suggestion-display .from-value:before,
  .suggestion-display .to-value:after, .suggestion-display .to-value:before {
    content: '"';
  }
  .suggestion-create .from-label,
  .suggestion-create .to-label {
    display: block;
    font-weight: bold;
    margin: 5px 0;
  }
  .approve-suggestion-btn, .revert-suggestion-btn {
    display: block;
    margin-bottom: 10px;
  }
  .suggestion-create textarea.to-value {
    width: 100%;
  }
  .link-container{right :0}
  .link-container .revert-suggestion-btn { display: none; }
  .link-container.change-accepted .revert-suggestion-btn { display: block; }
  .link-container.change-accepted .approve-suggestion-btn { display: none; }
  
  .link-container.change-accepted .link-replies-container .revert-suggestion-btn { display: none; }
  .link-container.change-accepted .link-replies-container .approve-suggestion-btn { display: block; }
  .link-container.change-accepted .link-replies-container .link-container.change-accepted .revert-suggestion-btn { display: block; }
  .link-container.change-accepted .link-replies-container .link-container.change-accepted .approve-suggestion-btn { display: none; }
  /* REPLIES */
  .link-reply {
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
  }
  /* One previous reply */
  .sidebar-link-reply {
    margin-bottom: 10px;
  }
  .sidebar-link-reply .link-text {
    display: inline;
    margin-top: 5px;
    white-space: normal;
  }
  .sidebar-link-reply .link-edit {
    display: none;
    margin-left: 5px;
    font-size: 1em;
    opacity: .7;
    transition: opacity .2s;
  }
  .sidebar-link-reply:hover:not(.editing) .link-edit {
    display: inline;
  }
  .sidebar-link-reply:hover:not(.editing) .link-edit:hover {
    opacity: 1;
  }
  .reply-link-suggest, .link-suggest {
    margin-top: 10px;
  }
  
  /* EDITING LINK */
  .link-edit-text {
    width: 100%;
  }
  .link-edit-form + .link-text {
    display: none !important;
  }

  /* MODAL FOR MOBILES */
  .link-modal {
    bottom: auto !important;
    right: auto !important;
  }
  .link-modal-link {
    padding: 0;
  }
  .link-modal-link .sidebar-link {
    position: relative;
    top: 0;
  }
  .link-modal-link .compact-display-content {
    display: none;
  }
  .link-modal-link .full-display-link {
    display: block !important;
    margin: 0;
  }
  .link-modal-link .link-content {
    margin-top: 0 !important;
  }
  
  /* OTHER */
  .hidden {
    display: none;
  }


  #link-edit-btn{
    background-color: #00e293;
    padding-left: 10px;
    color: #fff;
    padding-right: 10px;
    height: 33px;
    margin-right: 11px;
  }
  #link-delete{
    background-color: red;
    color: #fff;
    padding-left: 8px;
    padding-right: 10px;
    margin-right: 11px;
    height: 33px;
  }
  #link-close{
    background-color: gray;
    color: #fff;
    padding-left: 8px;
    padding-right: 10px;
    margin-right: 11px;
    height: 33px;
 
  }