*{
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
/* Text linked inside editor */
#innerdocbody .ace-line .link {
    background-color: none;
    
    text-decoration: underline;
    color: #1155cc !important;
    cursor: pointer;

  }
  #innerdocbody .ace-line .link[data-open="true"]{
    /* color: orange !important;
         */
    text-decoration: underline;
    color: #1155cc !important;
    cursor: pointer;
  }
  
  
  /* Link right side container */
  #links {
    /* width: 250px; */
    order: 3;
    /* position: absolute; */
  }
  #links:not(.active) {
    display: none;
  }
  @media (max-width: 900px) {
    #linkIcons, #links {
      display: none !important;
    }
  }
  
  .sidebar-link {
    position: absolute;
    /* width: 286px; */
    visibility: hidden;
    z-index: 999000;
  }
  
  /* WITH ICONS */
  #links.with-icons {
    display: none;
  }
  
  /* NEW LINK FORM (included both in popup and reply) */
  .new-link .link-content {

    border: 1px solid gray;
    padding-left: 7px!important;
    padding-top: 24px!important;
    padding-bottom: 0!important;
    padding-right: 0!important;
    height: 51px;
    width: 100%;
    margin: 0 !important;
    background-color: white;
  }
  .new-link .link-content-disabled {

    border: 1px solid gray;
    padding-left: 7px!important;
    padding-top: 24px!important;
    padding-bottom: 0!important;
    padding-right: 0!important;
    height: 51px;
    width: 100%;
    margin: 0 !important;
    /* background-color: gray; */
  }
  .new-link .link-buttons{
    margin-top: 10px;
  }
  .link-buttons{
    display: inline-flex;
  }
  
  .link-reply .new-link:not(.editing) .form-more {
    display: none;
  }
  input.error, textarea.error {
    border-color: red;
  }
  .form-more{
    margin-top: 12px;
  }
  
  /* LINK GENERAL STYLE */
  .link-author-name {
    font-weight: bold;
  }
  .link-created-at {
    font-size: .8em;
    opacity: .7;
    margin-left: 5px;
  }
  .link-actions-wrapper {
    float: right;
    padding: 10px;
    padding-top:12px
  }
  #ep_hyperlink_img{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 4px;
    margin-top: 4px;
    display: none;

  }
  #ep_hyperlink_title{
    display: none;
    margin-top: 4px;
    color: #15c!important;
    font-weight: 500;
    opacity: 1;
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: baseline;
    width: 189px;
    min-width: 189px;

    text-decoration: none !important;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

  }
  

        /* Card styles */ 
        .card{ 
          width: 18px;
          float: left;
          height: 18px; 

          
      } 
     
      /* Card image loading */ 
      .card__image img { 
          width: 18px; 
          height: 18px; 
          float: left;
      } 
        
      .card__image.loading { 
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 4px;
        margin-top: 4px;

      } 
     
      /* Card title */ 
      .card__title { 
          font-size: 22px; 
          font-weight: 700; 
          float:right;
      } 
        
      .card__title.loading { 
          height: 0.5rem; 
          width: 79%; 
          float:right;
          margin-top: 2px;
      } 

      /* The loading Class */ 
      .loading { 
          position: relative; 
          background-color: #e2e2e2; 
      } 
     
      /* The moving element */ 
      .loading::after { 
          display: block; 
          content: ""; 
          position: absolute; 
          width: 100%; 
          height: 100%; 
          transform: translateX(-100%); 
          background: -webkit-gradient(linear, left top, 
                      right top, from(transparent),  
                      color-stop(rgba(255, 255, 255, 0.2)), 
                      to(transparent)); 
                        
          background: linear-gradient(90deg, transparent, 
                  rgba(255, 255, 255, 0.2), transparent); 
     
          /* Adding animation */ 
          animation: loading 0.8s infinite; 
      } 
     
      /* Loading Animation */ 
      @keyframes loading { 
          100% { 
              transform: translateX(100%); 
          } 
      } 
  
  /* LINK COMPACTED (Visible on right side) */
  .sidebar-link:not(.full-display) .full-display-link {
    display: block;
    /* min-width: 270px; */
  }
  .compact-display-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
    background-color: #eeeeed;
  }
  
  /* LINK FULL (when mouse click) */
  .sidebar-link.full-display  {
    z-index: 999000;
  }
  .sidebar-link.hyperlink-display{
    display: block;
    z-index: 999000;
    visibility: visible;

    /* background-color: rgb(255, 255, 255);
    border-color: rgb(218, 220, 224);
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    color: rgb(60, 64, 67);
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;

  }
  .disable-link{
    pointer-events: none; cursor: default;
  }
  .sidebar-link.full-display .full-display-link {
    display: block;
    /* margin-top: -10px; */
  }
  .sidebar-link.full-display .compact-display-content {
    display: none;
  }
  .full-display-link {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px #ddd;
    z-index: 999000;
    width: 324px;
    padding: 6px 0px;
    height: 63px;
  }
  .full-display-link .link-title-wrapper,
  .full-display-link .link-reply {
    /* padding: 10px;
    width: 78%; */
    /* float: left; */
  }
  .full-display-link .link-title-wrapper .link-text {
    /* display: block; */
    /* margin-top: 10px; */
    white-space: normal;
    font-weight: bold;
    width: 230px;
    height: 38px;
    padding: 3px;
    border :1px solid gray
}
.link-text-hyperlink {
  margin: 8px 0 0 0!important;
  height: 35px;
  width: 320px;
  float: left;
  background: #efefef!important;
  box-shadow: 0 2px 0 rgba(0,0,0,.25)!important;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #474747!important;
  border: 0;
  padding: 10px 7px 9px 7px !important;
}
.link-title-wrapper{
  margin-bottom: 15px;
  margin-top: 15px;
  display: none;
  background-color: #fff;
  width: 477px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px #ddd;
  padding: 16px;
}
.link-title-wrapper-meta{
  /* margin-bottom: 33px */
  padding: 0px 12px;
  display: flex;
  height: 29px;
}
.ep_hyperlink_description{
  font-size: 12px;
  justify-content: center;
  line-height: 1.3;
  white-space: normal;
  cursor: text;
  color: rgb(128, 134, 139) !important;
  overflow-wrap: break-word;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.full-display-link .link-title-wrapper .link-text-text {
  margin: 8px 0 0 0!important;
  height: 35px;
  width: 320px;
  float: left;
  background: #efefef;
  box-shadow: 0 2px 0 rgba(0,0,0,.25);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #474747;
  border: 0;
  padding: 10px 7px 9px 7px!important;
}
input:-internal-autofill-selected {
  background-color: white;
}
  
.link-close{
  cursor: pointer;
}
.submit_LCM{
  float: right;
  margin-top: -38px;
  margin-right: -74px;
  height: 38px;
  padding: 5px 15px;
}
.hyperlink-form-lable-section{
  width:445px;
  height: 67px;
}
.hyperlink-form-lable-section .hyperlink-form-lable{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #696969;
  float: left;
  width: 100%;
}
.hyperlink-form-lable-section .hyperlink-form-lable-disabled{
  
  font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #696969;
    float: left;
    width: 100%;
}
  .full-display-link .link-title-wrapper .link-text.default-text {
    display: none;
  }
  
  /* SUGGESTION */
  .suggestion, .reply-suggestion {
    display: none;
  }
  .suggestion-display {
    margin-top: 5px;
    white-space: normal;
  }
  .suggestion-display .from-label,
  .suggestion-display .to-label {
    margin-right: 2px;
  }
  .suggestion-display .from-value,
  .suggestion-display .to-value {
    opacity: .8;
    font-style: italic;
  }
  .suggestion-display .from-value:after, .suggestion-display .from-value:before,
  .suggestion-display .to-value:after, .suggestion-display .to-value:before {
    content: '"';
  }
  .suggestion-create .from-label,
  .suggestion-create .to-label {
    display: block;
    font-weight: bold;
    margin: 5px 0;
  }
  .approve-suggestion-btn, .revert-suggestion-btn {
    display: block;
    margin-bottom: 10px;
  }
  .suggestion-create textarea.to-value {
    width: 100%;
  }
  .link-container{right :0}
  .link-container .revert-suggestion-btn { display: none; }
  .link-container.change-accepted .revert-suggestion-btn { display: block; }
  .link-container.change-accepted .approve-suggestion-btn { display: none; }
  
  .link-container.change-accepted .link-replies-container .revert-suggestion-btn { display: none; }
  .link-container.change-accepted .link-replies-container .approve-suggestion-btn { display: block; }
  .link-container.change-accepted .link-replies-container .link-container.change-accepted .revert-suggestion-btn { display: block; }
  .link-container.change-accepted .link-replies-container .link-container.change-accepted .approve-suggestion-btn { display: none; }
  /* REPLIES */
  .link-reply {
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
  }
  /* One previous reply */
  .sidebar-link-reply {
    margin-bottom: 10px;
  }
  .sidebar-link-reply .link-text {
    display: inline;
    margin-top: 5px;
    white-space: normal;
  }
  .sidebar-link-reply .link-edit {
    display: none;
    margin-left: 5px;
    font-size: 1em;
    opacity: .7;
    transition: opacity .2s;
  }
  .sidebar-link-reply:hover:not(.editing) .link-edit {
    display: inline;
  }
  .sidebar-link-reply:hover:not(.editing) .link-edit:hover {
    opacity: 1;
  }
  .reply-link-suggest, .link-suggest {
    margin-top: 10px;
  }
  
  /* EDITING LINK */
  .link-edit-form{
    width: 100%;
    height: 140px;
  }
  .link-edit-text {
    width: 100%;
  }
  .link-edit-form + .link-text {
    display: none !important;
  }

  /* MODAL FOR MOBILES */
  .link-modal {
    bottom: auto !important;
    right: auto !important;
  }
  .link-modal-link {
    padding: 0;
  }
  .link-modal-link .sidebar-link {
    position: relative;
    top: 0;
  }
  .link-modal-link .compact-display-content {
    display: none;
  }
  .link-modal-link .full-display-link {
    display: block !important;
    margin: 0;
  }
  .link-modal-link .link-content {
    margin-top: 0 !important;
  }
  
  /* OTHER */
  .hidden {
    display: none;
  }


  #link-edit-btn{
    width: 111px;
    height: 35px;
    font-weight: 700;
    border: 0 none;
    cursor: pointer;
    float: left;
    background: #3873e0;
    box-shadow: 0 2px 0 #2255b5;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: 8px 0px 0px 12px;
  }
  #link-delete{
    background-color: red;
    color: #fff;
    padding-left: 8px;
    padding-right: 10px;
    margin-right: 11px;
    height: 33px;
  }
  #link-close{
    background-color: gray;
    color: #fff;
    padding-left: 8px;
    padding-right: 10px;
    margin-right: 11px;
    height: 33px;
 
  }

#newLink{
  width: 477px;
}
#hyperlink-text{
  margin: 8px 0 0 0!important;
  height: 35px;
  width: 320px;
  float: left;
  background: #efefef;
  box-shadow: 0 2px 0 rgba(0,0,0,.25);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #474747;
  border: 0;
  padding: 10px 7px 9px 7px!important;
}
#hyperlink-url{
  margin: 8px 0 0 0!important;
  height: 35px;
  width: 320px;
  float: left;
  background: #efefef;
  box-shadow: 0 2px 0 rgba(0,0,0,.25);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #474747;
  border: 0;
  padding: 10px 7px 9px 7px !important;
}

.hyperlink-popup{
  padding: 16px;
}
#link-create-btn{
  width: 111px;
  height: 35px;
  font-weight: 700;
  border: 0 none;
  cursor: pointer;
  float: left;
  background: #3873e0;
  box-shadow: 0 2px 0 #2255b5;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 8px 0px 0px 12px;
}


.ep_hyperlink_docs_bubble_button_edit, .ep_hyperlink_docs_bubble_button_copy, .ep_hyperlink_docs_bubble_button_delete{
  background-color: transparent;
  background-image: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border-width: 0;
  border-color: transparent;
  /* box-shadow: none; */
  background-clip: padding-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  min-width: unset;
  padding: 5px;
  justify-content: center;
  text-align: center;
  display: flex;
}
.ep_hyperlink_docs_bubble_button_container{
  display: flex;
}

.ep_hyperlink_docs_bubble_button_edit:focus , .ep_hyperlink_docs_bubble_button_copy:focus , .ep_hyperlink_docs_bubble_button_delete:focus{
  outline: none;

}
 
.ep_hyperlink_docs_bubble_button_edit:hover, .ep_hyperlink_docs_bubble_button_copy:hover, .ep_hyperlink_docs_bubble_button_delete:hover{
  background-color: #f0f0f0;
}
.ep_hyperlink_docs_bubble_button_edit svg:focus path, .ep_hyperlink_docs_bubble_button_copy svg:focus path, .ep_hyperlink_docs_bubble_button_delete svg:focus path{
  color: #3873e0;
  fill:#3873e0;
}
.ep_hyperlink_docs_bubble_button_edit svg:active path, .ep_hyperlink_docs_bubble_button_copy svg:active path, .ep_hyperlink_docs_bubble_button_delete svg:active path{
  color: #3873e0;
  fill:#3873e0;
}


 