<li class="separator"></li>
<li class="addLink">
    <a title="Add new hyperlink on selection" data-l10n-id="ep_full_hyperlinks.add_link.title">
      <span class="ep_hyperlink_icon buttonicon"></span>
    </a>
</li>
